<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Form</title>
</head>

<body>
    <nav class="ct-nav">
        <a th:href="@{/form}">Form</a>
        <a th:href="@{/grades}">Grades</a>
    </nav>
    <section>
        <h2>Grade Portal</h2>
        <form action="" method="post">
            <label>
                Student Name
                <input type="text" placeholder="Name">
            </label>
            <label>
                Score
                <input type="text" placeholder="Score">
            </label>
            <label>
                Subject
                <input type="text" placeholder="Subject">
            </label>
            <input type="submit" value="Submit">
        </form>
    </section>
</body>

</html>