<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Form</title>
</head>

<body>
    <nav class="ct-nav">
        <a th:href="@{/}">Form</a>
        <a th:href="@{/grades}">Grades</a>
    </nav>
    <section class="ct-form">
        <h2>Grade Portal</h2>
        <form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
            <label>
                Student Name
                <input type="text" placeholder="Name..." th:field="*{name}">
                <p class="txt-errors" th:errors="*{name}"></p>
            </label>
            <label>
                Score
                <input type="text" placeholder="Score..." th:field="*{score}">
                <p class="txt-errors" th:errors="*{score}"></p>
            </label>
            <label>
                Subject
                <input type="text" placeholder="Subject..." th:field="*{subject}">
                <p class="txt-errors" th:errors="*{subject}"></p>
            </label>
            <input type="hidden" th:field="*{id}">
            <input type="submit" value="Submit">
        </form>
    </section>
</body>

</html>