<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/grades.css}">
    <title>Grades</title>
</head>

<body>
    <nav class="ct-nav">
        <a th:href="@{/}">Form</a>
        <a th:href="@{/grades}">Grades</a>
    </nav>
    <section class="ct-grades">
        <h2>Grades</h2>
        <table id="table">
            <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Score</th>
                <th>Manage</th>
            </tr>

            <tr th:each="grade: ${grades}">
                <td th:text="${grade.name}"></td>
                <td th:text="${grade.subject}"></td>
                <td th:text="${grade.score}"></td>
                <td><a role="button" class="update" th:href="@{/(id=${grade.id})}">Update</a></td>
            </tr>
        </table>

    </section>

</body>

</html>